---
import type { z } from "zod";
import type { ProductSchema } from "../utils/storeCMS";

export interface Props {
  product: z.infer<typeof ProductSchema>;
}
const { product } = Astro.props as Props;
---

<a
  href={`/products/${product.id}`}
>
  <img src={product.image} alt={product.name} class="w-full aspect-[3/3.5] object-cover rounded-md" />
  <div class="text-zinc-700 pt-2">
    <h3 class="font-medium text-lg">{product.name}</h3>
    <p>
      ${product.price}
      <!-- <Money price={product.price} /> -->
    </p>
  </div>
</a>
