---
import { getProduct } from "../../utils/storeCMS";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NotFoundLayout from "../../layouts/NotFoundLayout.astro";
import ProductBreadcrumb from "../../components/ProductBreadcrumb.astro";
import ProductReviews from "../../components/ProductReviews.astro";
import ProductAccordions from "../../components/ProductAccordions.astro";
import AddToCart from "../../components/AddToCart";

const { product: productId } = Astro.params;

if (!productId) {
  return (Astro.response.status = 404);
}

const result = await getProduct(productId);
---

{
  !result ? (
    <NotFoundLayout title="Product not found" message="Product not found" />
  ) : (
    <BaseLayout title={result.product.name}>
      <div class="px-[20px] md:px-[48px] py-6">
        <ProductBreadcrumb title={result.product.name} />
      </div>

      <section class="px-[20px] md:px-[48px] grid grid-cols-1 md:grid-cols-2 gap-8 md:mb-12">
        <div class="aspect-[1/1] w-full bg-gray-50 col-span-1">
          <img
            src={result.product.image}
            alt={result.product.name}
            class="h-full object-cover w-full rounded-md"
          />
        </div>
        <div class="mt-4 lg:mt-0 col-span-1">
          <h2 class="font-serif font-bold text-xl capitalize">{result.product.name}</h2>
          <p class="font-medium text-lg">${result.product.price}</p>
          <div class="mt-4">
            <AddToCart client:load item={result.product} />
          </div>

          <p class="mt-4">{result.product.description}</p>
          <div class="mb-8">
            <ProductAccordions />
          </div>
        </div>
      </section>
    </BaseLayout>
  )
}
